@page
@model Mock_Project_Group9.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<section class="main-banner" style="padding-top:0">
        <div class="js-parallax-scene">
            <div class="banner-shape-1 w-100" data-depth="0.30">
                <img src="assets/images/berry.png" alt="">
            </div>
            <div class="banner-shape-2 w-100" data-depth="0.25">
                <img src="assets/images/leaf.png" alt="">
            </div>
        </div>
        <div class="sec-wp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-text">
                            <h1 class="h1-title">
                                Wellcome to my
                                    <span>restaurant</span>
                            </h1>

                        <form action="post">
                            <div class="row">
                                <input type="text" class="form-input"
                                       placeholder="Enter your username Here" required>
                                <br />
                            </div>
                            <div class="row mt-4">
                                <input type="password" class="form-input"
                                       placeholder="Enter your password Here" required>
                            </div>
                            <div class="banner-btn mt-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="sec-btn primary-btn">Login</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="sec-btn primary-btn">Register</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img-wp">
                            <div class="banner-img" style="background-image: url(assets/images/main-b.jpg);">
                            </div>
                        </div>
                        <
                    </div>
                </div>
            </div>
        </div>
    </section>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDetails.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
