@page
@model Mock_Project_Group9.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserDetails.Address)
        </dd>
        @if(Model.User.UserDetails == null)
        {
            <a class="link-warning link-offset-2 link-underline link-underline-opacity-0"
               asp-page="../UserDetails/Create" asp-route-id="@Model.User.UserId">
                Add user details
            </a>
        } else{
        <dt class="col-sm-2">
            <a class="link-success link-offset-2 link-underline link-underline-opacity-0"
                   asp-page="../UserDetails/Details" asp-route-id="@Model.User.UserDetails.UserDetailsId">
               See this user details</a>
        </dt>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User?.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
