@page
@model Mock_Project_Group9.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                User Informations
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @if (item.UserDetails == null)
                    {
                        <a class="link-warning link-offset-2 link-underline link-underline-opacity-0">
                           No informations found
                        </a>
                    }
                    else
                    {
                        
                         <a class="link-success link-offset-2 link-underline link-underline-opacity-0"
                               asp-page="../UserDetails/Details" asp-route-id="@item.UserDetails.UserDetailsId">
                                See this User's information
                            </a>
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
